<h2>Detalhes do Consultório</h2>

<hr/>
<div *ngIf="room">
  <div>
    <label><b> Profissional </b></label> {{room.name}}
  </div>
  <div>
    <label><b> Sala </b></label> {{room.numero}}
  </div>
  <div>
    <label><b> Data da Sublocação</b></label> {{room.date}}
  </div>
  <div>
    <label><b> Horário da Entrada </b></label> {{room.startHour}}
  </div>
    <div>
    <label><b> Horário da Saída</b></label> {{room.endHour}}
  </div>
</div>

<br>
<br>
<button (click)="list()" class="btn btn-primary">Volte para Lista</button><br>
